.title {
  margin-bottom: 25px;
  font-size: 18px;
  color: white;
}
.info {
  color: #777777;
  margin-bottom: 20px;
}
.socials {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.svgImg {
  cursor: pointer;
  color: white;
}
.svgImg:hover {
  color: #ffba00;
  transition: color 0.2s linear;
}
