.Conditions {
  display: flex;
  width: 70%;
  background: white;
  margin: 0 auto;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  margin-bottom: 100px;
}
.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
}
.h3 {
  font-size: min(max(15px, 1vw), 15px);
  margin: 10px 0px 0px 0px;
}
.span {
  font-size: min(max(15px, 1vw), 15px);
}
.img:hover {
  filter: invert(70%);
}
