.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    color: #777777;

}

.blocks {
    display: flex;
    justify-content: space-between;
    padding: 3vh 8vw;
}

.yellow {
    color: gold;
}